<div class="d-main-d5">
  <div class="d-iiner-d5">
    <h4 class="d-subtitle-d5">{{ subtitle }}</h4>
    <h3 class="d-title-d5">{{ title }}</h3>
    <p>{{ text }}</p>
    <p>{{ tandc }}</p>
  </div>
</div>